In [1]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.read_csv('./accident.csv')
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [42]:
print(df.dtypes)

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

In [56]:
text_column_list = [df['text'][elem] for elem in range(0, 7613)]
print(text_column_list[7612])

The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d

Нужно проверить, есть ли повторяющиеся значения в колонке text.

In [9]:
duplicates = df.duplicated()
print(df[duplicates])

Empty DataFrame
Columns: [id, keyword, location, text, target]
Index: []

На самом деле повторяющиеся значения есть. это происходит из-за ссылок. http/https . но я боюсь удалять их вслепую, вдруг они могут удалить нужные части. 
Тогда я сперва проверю, какие символы встречаются, удалю лишние.

In [10]:
from collections import Counter

In [85]:
text_column = df['text']

all_text = ''.join(text_column)

symbol_counts = Counter(all_text)

for symbol, count in symbol_counts.items():
    print(symbol, count)

O 3177
u 15535
r 31490
  106041
D 3115
e 55430
d 18807
s 31218
a 41792
t 51181
h 23940
R 3413
o 42307
n 33657
f 10002
i 35687
# 3403
q 1126
k 6320
M 3596
y 10702
A 4850
L 2876
H 2996
F 2661
g 11443
v 5854
l 22611
S 5088
. 11696
C 3856
' 3157
p 14128
c 18648
b 8436
N 3295
x 1877
1 2252
3 1520
, 2
0 2456
w 8962
J 1455
m 13399
U 1846
= 53
> 1
2 1706
- 1753
I 5007
T 5168
W 2790
E 3688
V 1448
P 3000
G 2208
K 1575
B 3094
8 1133
9 1234
? 3126
! 1173
; 587
) 373
Y 1607
: 6910
@ 2759
z 1516
/ 14585
X 913
6 1166
Z 930
 797
Û 794
Ò 45
Ó 33
j 1767
Q 848
4 1311
7 1238

 946
5 1517
å 96
Ê 66
_ 863
& 457
( 349
[ 132
] 131
| 152
* 179
ã 2
¢ 10
$ 44
Ï 69
 44
ª 191
+ 80
÷ 49
Ì 27
Ñ 3
% 46
~ 37
£ 6
¤ 3
} 4
ü 2
´ 1
Ç 2
È 5
â 1
Â 1
^ 6
¨ 6
© 10
« 2
\ 5
¬ 1
¼ 5
¡ 3
` 3
{ 3

Найдено множество странных символов, которые я заменю

In [ ]:
symbols_to_replace = ['', '', '', '', '', '', '', '', '', '&', '?', '=', '#', ',', '>', 'Û', 'Ò', 'Ó', 'å', 'Ê', 'ã', 'Ï', 'ª', 'Ì', 'Ñ', '~', '£', '¤', '}', 'ü', '´', 'Ç', 'È', 'â', 'Â', '^', '¨', '©', '«', '\\', '¬', '¼', '¡', '`', '{' ]
symbols_to_replace

In [59]:
text_column_list[38]

'Barbados #Bridgetown JAMAICA \x89ÛÒ Two cars set ablaze: SANTA CRUZ \x89ÛÓ Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J'

In [60]:
for elem in range(len(text_column_list)):
    text_column_list[elem] = text_column_list[elem].replace(symbols_to_replace, '')
print(text_column_list[39])

TypeError: replace() argument 1 must be str, not list

Предполагаю теперь, что лишних символов нет.

In [86]:
#очистка данных от мусора
symbols_to_safe = [',', '>', 'Û', 'Ò', 'Ó', 'å', 'Ê', 'ã', 'Ï', 'ª', 'Ì', 'Ñ', '~', '£', '¤', '}', 'ü', '´', 'Ç', 'È', 'â', 'Â', '^', '¨', '©', '«', '\\', '¬', '¼', '¡', '`', '{' ]
temp_text_list = []
for elem in text_column_list:
    elem_list = list(elem)
    for i in range(0, len(elem_list)-1):
        if elem_list[i] in symbols_to_replace:
            elem_list[i] = ' '
    added_elem = ''.join(elem_list)   
    temp_text_list.append(added_elem)
temp_text_list[38]

'Barbados #Bridgetown JAMAICA \x89   Two cars set ablaze: SANTA CRUZ \x89   Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J'

In [84]:
temp_text_list[38]

'Barbados #Bridgetown JAMAICA \x89 Two cars set ablaze: SANTA CRUZ \x89 Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J'