In [1]:
import pandas as pd 
import numpy as np

In [2]:
#отображение всего датафрейма
pd.set_option('display.max_rows', None)

In [3]:
#отключить отображение всего датафрейма
pd.reset_option('display.max_rows')

In [4]:
df_train = pd.read_csv('./new_data/train_accident_normalized_text.csv')
df_test = pd.read_csv('./new_data/test_accident_normalized_text.csv')
print(df_train, df_test)

      Unnamed: 0  origin_id
0           5853       8364  \
1            140        201
2           7050      10101
3           2589       3717
4           5658       8070
...          ...        ...
5043        6520       9324
5044        1874       2693
5045        6563       9391
5046        2190       3138
5047         333        480

                                        text_normalized  target
0                               ruin holiday wordk zmne       0
1         awwww airplane accident gon na die cuties job       1
2                    think typhoon just passed here lol       1
3     flood people dead house destroyed kaduna peopl...       1
4                                length rescue cat need       0
...                                                 ...     ...
5043  help survive zombie apocalypse zombie fun run ...       0
5044                              men crush fucking day       0
5045      setsuko thurlow survived hiroshima bomb story       1
5046  kamindoz reuters debris confirmed relative hop...       1
5047    sadly window reveals microsoft ethic armageddon       0

[5048 rows x 4 columns]       Unnamed: 0  origin_id
0              2          5  \
1              3          6
2              4          7
3              5          8
4              9         15
...          ...        ...
1677        7586      10840
1678        7587      10841
1679        7589      10843
1680        7591      10846
1681        7594      10849

                                        text_normalized  target
0     resident asked shelter place being notified of...       1
1     people receive wildfire evacuation order calif...       1
2     just photo ruby alaska smoke wildfire pours sc...       1
3     rockyfire update california hwy closed directi...       1
4                            afraid tornado coming area       1
...                                                 ...     ...
1677  sismo detectado jap seismic intensity iwate mi...       1
1678                                              siren       0
1679                                     omg earthquake       1
1680  heat wave warning ayyo dei just plan visit fri...       1
1681  gas just exploded heard scream now whole stree...       1

[1682 rows x 4 columns]

In [5]:
print(df_test.dtypes)
print(df_train.dtypes)

Unnamed: 0          int64
origin_id           int64
text_normalized    object
target              int64
dtype: object
Unnamed: 0          int64
origin_id           int64
text_normalized    object
target              int64
dtype: object

In [6]:
df_combine = pd.read_csv('./new_data/combine_accident_normalized_text.csv')
df_combine

,Unnamed: 0,origin_id,text_normalized,target
0,0,1,deed reason earthquake may allah forgive,1
1,1,4,forest fire near ronge sask canada,1
2,2,5,resident asked shelter place being notified of...,1
3,3,6,people receive wildfire evacuation order calif...,1
4,4,7,just photo ruby alaska smoke wildfire pours sc...,1
...,...,...,...,...
6725,7601,10859,breaking refugio oil spill may costlier bigger...,1
6726,7602,10860,siren just went wasn forney tornado warning,1
6727,7603,10862,official say quarantine place alabama home pos...,1
6728,7605,10864,flip side walmart bomb evacuate stay tuned blow,1
6729,7606,10866,suicide bomber kill saudi security site mosque...,1

In [ ]:
import spacy
import re
nlp = spacy.load('en_core_web_sm')

In [1]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

:

:

In [ ]:
max_features = 5334
tokenizer = Tokenizer(num_words=max_features, split=' ')
tokenizer.fit_on_texts(df_combine['text_normalized'].values)